body {
    font-size: 100%; /* flexible baseline */
    width: 80%;
    background:black;
    background-size: cover;
}
a{
	text-decoration: none!important;
}
a:link, a:active, a:visited{
	text-decoration: none!important;
}
a:hover{
	text-decoration: underline!important;
}
p {
    font-size: 1.4em; /* 1.4em relative to a 16px baseline on the body will result in a 20px font size */
    line-height: 1.4em;
}

/* and if we have headings with defined styles we'd also add */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
}
/* grid 1140px */
.linha{
    margin: 0 auto;
    overflow: auto;
}
.imgheader{
    align-items: center;
}
.coluna{
    padding: 0;
    float: left;
}
.col1{
    width: 6.25%;
}
.col2{
    width: 14.58333333%;
}
.col3{
    width: 22.916666%;
}
.col4{
    width: 31.25%;
}
.col5{
    width: 39.58333333%;
}
.col6{
    width: 47.9166666%;
}
.col7{
    width: 56.25%;
}
.col8{
    width: 64.583333%;
}
.col9{
    width: 72.9166666%;
}
.col10{
    width: 81.25%;
}
.col11{
    width: 89.5833333%;
}
.col12{
    width: 97.91666666%;
}
/*grid colocação*/
.header{
   /* position: relative;*/
    background-color: rgba(10,23,55,0.8);
    padding-left: 1em;
    color: white;

}
h1.header{
    text-transform: uppercase;
    font-size: 2.5em;
    margin-right: 2em;
}
h2.header{
    font-size: 1.3em;
    margin-right: 10em;
}
p.header{
    text-align: justify;
    font-size: 1em;
    margin-right: 10em;
}
img.header{
    margin: 2.5em 1em;
    border-image-slice: round;
}
.content{
   /* position: relative;*/
    background-color: rgba(220,220,220,0.8);
    margin-left: 1em;
}
h1.content{
    text-transform: uppercase;
    font-size: 2.5em;
    margin-right: 2em;
}
h2.content{
    text-transform: uppercase;
    font-size: 1.3em;
    margin-right: 2em;
}
h3.content{
    font-size: 1em;
    margin-right: 2em;
}
p.content{
    text-align: justify;
    font-size: 1em;
    margin-right: 10em;
}
li.content{
       font-size: 0.8em;
    margin-right: 10em;

}
.sidebar{
    padding-left: 1em;
    color: white;
    background-color: rgba(10,23,55,0.8);
    line-height: 2.5em;
}
h1.sidebar{
    text-transform: uppercase;
    font-size: 2.5em;
    margin-right: 2em;
}
h2.sidebar{
    text-transform: uppercase;
    font-size: 1.3em;
    margin-right: 10em;
}
p.sidebar{
    text-align: justify;
    font-size: 1em;
    margin-right: 10em;
}
li.sidebar{
     font-size: 0.8em;
     margin-right: 1em;
    text-decoration: none;
    list-style: none;

}
li.competences{
    font-size: 0.8em;
     margin-right: 1em;
    text-decoration: none;
    list-style: none

}

/*bar animation*/

@-keyframes grow-100{
   from { right: 100%; }
   to   { right: 0%; }
}

@-webkit-keyframes grow-100{
   from { right: 100%; }
   to   { right: 0%; }
}
@-keyframes grow-90{
   from { right: 100%; }
   to   { right: 10%; }
}

@-webkit-keyframes grow-90{
   from { right: 100%; }
   to   { right: 10%; }
}

@-keyframes grow-75{
   from { right: 100%; }
   to   { right: 25%; }
}

@-webkit-keyframes grow-75{
   from { right: 100%; }
   to   { right: 25%; }
}

@-keyframes grow-50{
   from { right: 100%; }
   to   { right: 50%; }
}

@-webkit-keyframes grow-50 {
   from { right: 100%; }
   to   { right: 50%; }
}
@-webkit-keyframes grow-80 {
   from { right: 100%; }
   to   { right: 20%; }
}
@-keyframes grow-80{
   from { right: 100%; }
   to   { right: 20%; }
}
/*
#skills {
  margin: 1em auto 0 auto;
  position: relative;
  width: 98%;  
}

#apps {
  float: left;
  text-align: right;
  width: 19%;
}

#apps p {
  padding: 10.5px 0;
  position: relative;
  text-align: right;
  z-index: 2;
}

#scale {
  padding-bottom: 30px;
  position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}

#scale p {
  position: absolute;
    bottom: 0;
    left: -0.30%;
}
*/
/*
#scale p.one { left: 24%; }
#scale p.two { left: 49%; }
#scale p.three { left: 74%; }
#scale p.four { left: 99%; }
*/
/**/
.grid {
  float: right;
  position: relative;
  margin-top: 1.5em;
}

.bar {
  float: left;
  height: 0.8em;
  margin-bottom: 1.2em;
  position: relative;
  width: 70%;
  z-index: 1;
}

.bar .inner {
  background-color: #feac40;
  position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
}

.bar.pct-90 .inner {  
  -webkit-animation-duration: 2s;
  -webkit-animation-name: grow-90;
  right: 10%;
}

.bar.pct-75 .inner {  
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-75;
  right: 25%;
}
.bar.pct-80 .inner {  
  -webkit-animation-duration: 4s;
  -webkit-animation-name: grow-80;
  right: 20%;
}
.bar.pct-50 .inner {  
  -webkit-animation-duration: 5s;
  -webkit-animation-name: grow-50;
  right: 50%;
}
.bar.pct-100 .inner {  
  -webkit-animation-duration: 1s;
  -webkit-animation-name: grow-100;
  right: 00%;
}
/*
.v-divider {
  border-right: 1px dotted #f0c89d;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.v-divider.one { right: 75%; }
.v-divider.two { right: 50%; }
*/
@media (luminosity: normal) {
    body {
        background: #f5f5f5;
        color: #262626;
    }
}
@media (luminosity: dim) {
    body {
        background: #e9e4e3;
    }
}
@media (luminosity: washed) {
    body {
        background: #ffffff;
    }
}
@media screen and (max-width: 500px) {
    body {
        font-size:90%;
        width: 80%;
        background: black;
    }
    @media (max-width: 500px) {
          .grid{display: none;}
          .btn-toggle{display: block;}
          .img{display:none ;}
    }    
    p {
        font-size: 1.4em; /* 1.4em relative to a 16px baseline on the body will result in a 20px font size */
        line-height: 1.4em;
    }

    /* and if we have headings with defined styles we'd also add */
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2em;
    }
    /* grid 1140px */
    .linha{
        margin: 0 auto;
        overflow: auto;
    }
    .imgheader{
        align-items: center;
    }
    .coluna{
        padding: 0;
        float: left;
    }
    .col1{
        width: 6.25%;
    }
    .col2{
        width: 14.58333333%;
    }
    .col3{
        width: 22.916666%;
    }
    .col4{
        width: 31.25%;
    }
    .col5{
        width: 39.58333333%;
    }
    .col6{
        width: 47.9166666%;
    }
    .col7{
        width: 56.25%;
    }
    .col8{
        width: 64.583333%;
    }
    .col9{
        width: 72.9166666%;
    }
    .col10{
        width: 81.25%;
    }
    .col11{
        width: 89.5833333%;
    }
    .col12{
        width: 97.91666666%;
    }
    /*grid colocação*/
    .header{
       /* position: relative;*/
        background-color: rgba(10,23,55,0.8);
        padding-left: 1em;
        color: white;

    }
    h1.header{
        text-transform: uppercase;
        font-size: 2.5em;
        margin-right: 2em;
        display:block;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        text-align:center;
    }
    h2.stage{
        margin-top: 6em;

    }
    h2.header{
        font-size: 1.3em;
        margin-right: 2em;
        width:100%;
    }
    p.header{
        text-align: justify;
        font-size: 1em;
        margin-right: 2em;
        width:100%;
    }
    img.header{
        margin: 2.5em 1em;
        border-image-slice: round;
        width:100%;
    }
    .content{
        background-color: rgba(220,220,220,0.8);
        margin-left: 1em;
        margin-top: 5em;
    }
    h1.content{
        text-transform: uppercase;
        font-size: 2.5em;
        margin-right: 2em;
    }
    h2.content{
        text-transform: uppercase;
        font-size: 1.3em;
        margin-right: 2em;
    }
    h3.content{
        font-size: 1em;
        margin-right: 2em;
    }
    p.content{
        text-align: justify;
        font-size: 1em;
        margin-right: 2em;
    }
    li.content{
           font-size: 0.8em;
        margin-right: 10em;

    }
    .sidebar{
        padding-left: 1em;
        color: white;
        background-color: rgba(10,23,55,0.8);
        line-height: 2.5em;
    }
    h1.sidebar{
        text-transform: uppercase;
        font-size: 2.5em;
        margin-right: 2em;
    }
    h2.sidebar{
        text-transform: uppercase;
        font-size: 1.3em;
        margin-right: 10em;
    }
    p.sidebar{
        text-align: justify;
        font-size: 1em;
        margin-right: 10em;
    }
    li.sidebar{
         font-size: 0.8em;
         margin-right: 1em;
        text-decoration: none;
        list-style: none;

    }
    li.competences{
        font-size: 0.8em;
         margin-right: 1em;
        text-decoration: none;
        list-style: none

    }

        
}

@media screen and (max-width: 480px) {
    body {
        font-size:80%;
            width: 80%;
    background: black;
    }

        
    p {
        font-size: 1.4em; /* 1.4em relative to a 16px baseline on the body will result in a 20px font size */
        line-height: 1.4em;
    }

    /* and if we have headings with defined styles we'd also add */
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2em;
    }
    /* grid 1140px */
    .linha{
        margin: 0 auto;
        overflow: auto;
    }
    .imgheader{
        align-items: center;
    }
    .coluna{
        padding: 0;
        float: left;
    }
    [class*="col"] {
             width: 100%;
        }
    @media (max-width: 1024px) {
          .grid{display: none;}
          .btn-toggle{display: block;}
          .img{display: none;}
    }
    /*grid colocação*/
    .header{
        background-color: rgba(10,23,55,0.8);
        padding-left: 0;
        color: white;

    }
    h1.header{
        text-transform: uppercase;
        font-size: 2.5em;
        margin-right: 2em;
    }
    h2.header{
        font-size: 1.3em;
        margin-right: 1em;
    }
    p.header{
        text-align: justify;
        font-size: 1em;
        margin-right: 1em;
    }
    img.header{

        margin: 2.5em 1em;
        border-image-slice: round;
    }
    .content{

        background-color: rgba(220,220,220,0.8);
        margin-left: 0.5em;
    }
    h1.content{
        text-transform: uppercase;
        font-size: 2.5em;
        margin-right: 2em;
    }
    h2.content{
        text-transform: uppercase;
        font-size: 1.3em;
        margin-right: 2em;
    }
    h3.content{
        font-size: 1em;
        margin-right: 2em;
    }
    p.content{
        text-align: justify;
        font-size: 1em;
        margin-right: 1em;
    }
    li.content{
           font-size: 1em;
        margin-right: 1em;

    }
    .sidebar{
        padding-left: 1em;
        color: white;
        background-color: rgba(10,23,55,0.8);
        line-height: 2.5em;
    }
    h1.sidebar{
        text-transform: uppercase;
        font-size: 2.5em;
        margin-right: 2em;
    }
    h2.sidebar{
        text-transform: uppercase;
        font-size: 1.3em;
        margin-right: 1em;
    }
    p.sidebar{
        text-align: justify;
        font-size: 1em;
        margin-right: 1em;
    }
    li.sidebar{
         font-size: 1em;
         margin-right: 1em;
        text-decoration: none;
        list-style: none;

    }
    li.competences{
        font-size: 1em;
         margin-right: 1em;
        text-decoration: none;
        list-style: none

    }
}
